// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

html,*{
    --ion-font-family: "Roboto", sans-serif;
    --font-weight: 700;
    --font-style: normal;
    // background-color: #f5f5dc;
    //--background: #f5f5dc;
}